@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


select {
  appearance: none; /* Removes default styles for select, including the arrow */
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  background: none; 
  font-size: 1rem; 
  border: 1px solid rgb(198, 198, 198);
  color: inherit; 
  cursor: pointer; 
  color: white;
}

/* Optional: Add hover effect */
select:focus {
  outline: 2px solid rgb(255, 255, 255);
}

/* Optional: Style the options */
option {
  background: #fff; /* White background for dropdown options */
  color: #000; /* Black text for options */
}